{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block body %}
  {{ super() }}
  <h1 id="installingandpreparingenvironment">Installing and Preparing environment</h1>

  <h2 id="createdatabase">Create Database</h2>

  <p>First you must create the database. Use the following command to create the mysql database:</p>

  <pre><code class="console language-console">mysql -u root -p &lt; create_uwmad_db.sql
  </code></pre>

  <p>This will create a database called <code>UWmadison</code> and it will also create a user that the client/server application will to execute queries for the selection options. 
  The username is <code>ece656project</code>, and the password is <code>ece656projectpass</code></p>

  <h2 id="setuppythonenvironment">Setup python environment</h2>

  <p>Python3 is used for the server application. Make sure that your <code>python</code> command points to python 3.x 
  You can check this with:</p>

  <pre><code class="console language-console">python --version
  </code></pre>

  <p>Create the virtual environment, download dependencies
{% endblock %}